body {
    background-color: #f69de3;
    font-family: Arial, sans-serif;
}
p {
    color: rgb(128, 0, 117);
    font-size: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.grid-item {
    background: lightblue;
    padding: 20px;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.flex-item {
    background: lightcoral;
    padding: 20px;
    text-align: center;
}